/* 通用样式 */
.markdown * {
  overflow-wrap: break-word;
}

/* 标题样式 */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  padding: 0 0 10px 0;
  margin: 10px 0 10px 0;
  border-bottom: solid 1px #777;
}
/* 段落样式 */
.markdown p {
  display: block;
  margin: 0;
}

/* 链接样式 */
.markdown a {
  color: #1e90ff;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

/* 列表样式 */
.markdown ul, .markdown ol {
  margin: 1em 0;
  padding-left: 40px;
}

.markdown li {
  margin: 0.5em 0;
}

/* 引用样式 */
.markdown blockquote {
  margin: 1em 0;
  padding: 0.5em 10px;
  border-left: 5px solid #2a2a2a;
  color: #666;
  background-color: #333;
}

/* 代码块样式 */
.markdown pre {
  background: #333;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

.markdown code {
  background: #333;
  padding: 2px 4px;
  border-radius: 4px;
}

/* 表格样式 */
.markdown table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

.markdown th, .markdown td {
  border: 1px solid #2a2a2a;
  padding: 8px;
}

.markdown th {
  background-color: #2a2a2a;
  text-align: left;
}

.markdown hr {
  border: none;
  border-bottom: solid 1px #777;
}